///////////////////////// KeyFrames /////////////////////////

@keyframes gradientAnimation
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes reveal
    0%
        opacity: 0
    100%
        opacity: 1

///////////////////////// Animation /////////////////////////

.textReveal-Animation
    animation: reveal 1s ease-in-out

/////////////////////////// Home ///////////////////////////

//Section 1

#homeSection1
    background: linear-gradient(-45deg, rgba(249, 115, 22, 0.80), rgba(255, 165, 0, 1), rgba(255, 140, 0, 0.80), rgba(255, 69, 0, 1))
    background-size: 200% 200%
    animation: gradientAnimation 10s ease infinite
    @apply text-white min-h-screen flex flex-col justify-center items-center
    #homeSection1Container
        @apply container mx-auto text-center p-5
        h1
            @apply text-6xl font-bold mb-5
        p
            @apply text-2xl mb-8 font-bold
        #homeSecton1Link
            a
                @apply bg-white text-orange-500 font-semibold py-3 px-6 mx-2 rounded-full shadow-md transition duration-300 ease-in-out
            a:hover
                @apply bg-orange-100 transition duration-300