@tailwind base;
@tailwind components;
@tailwind utilities;
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

header {
  animation: translateYHeader 0.75s ease-out;
  @apply bg-gray-800 text-white py-2 text-xl font-bold;
}
header nav {
  @apply flex;
}
header nav ul {
  @apply flex;
}
header nav ul li {
  @apply pr-5 flex;
}
header nav ul li button {
  @apply transition-all duration-150 ease-in-out;
}
header nav ul li button i {
  @apply pl-2;
}
header nav ul li button:hover {
  @apply border-b-orange-600 text-orange-600;
}
header nav ul li button.active {
  @apply border-4 border-orange-600 bg-orange-600 rounded text-white;
}

#headerLogo i {
  @apply text-4xl ml-5 mr-6;
}

#headerSignOut {
  @apply absolute right-0 pr-5 py-1;
}

footer {
  @apply fixed w-full bottom-0 transition-transform duration-300 ease-linear transform;
}
footer p {
  @apply py-2 text-center text-white bg-gray-800;
}
footer p span {
  @apply text-orange-500 font-bold;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.textReveal-Animation {
  animation: reveal 1s ease-in-out;
}

#welcomeSection1 {
  background: linear-gradient(-45deg, rgba(249, 115, 22, 0.8), rgb(255, 165, 0), rgba(255, 140, 0, 0.8), rgb(255, 69, 0));
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  @apply text-white min-h-screen flex flex-col justify-center items-center;
}
#welcomeSection1 #welcomeSection1Container {
  @apply container mx-auto text-center p-5;
}
#welcomeSection1 #welcomeSection1Container h1 {
  @apply text-6xl font-bold mb-5;
}
#welcomeSection1 #welcomeSection1Container p {
  @apply text-2xl mb-8 font-bold;
}
#welcomeSection1 #welcomeSection1Container #welcomeSecton1Link a {
  @apply bg-white text-orange-500 font-semibold py-3 px-6 mx-2 rounded-full shadow-md transition duration-300 ease-in-out;
}
#welcomeSection1 #welcomeSection1Container #welcomeSecton1Link a:hover {
  @apply bg-orange-100 transition duration-300;
}

#homeSection1 {
  background-color: #FD8824;
  @apply min-h-screen;
}
#homeSection1 h1 {
  @apply text-center text-white text-2xl pt-10;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#signInSection1BackHome i {
  @apply absolute ml-5 mt-5 border p-2 rounded-full border-white bg-white transition duration-300;
}
#signInSection1BackHome i:hover {
  @apply bg-gray-200 border-gray-200 transition duration-300;
}

#signInSection1 {
  background: linear-gradient(-45deg, rgba(249, 115, 22, 0.8), rgb(255, 165, 0), rgba(255, 140, 0, 0.8), rgb(255, 69, 0));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  @apply min-h-screen flex items-center justify-center bg-gray-100;
}
#signInSection1 #signInSection1Container {
  @apply bg-white p-8 rounded-lg shadow-2xl max-w-md w-full;
}
#signInSection1 #signInSection1Container h1 {
  @apply text-2xl font-bold text-center mb-6;
}
#signInSection1 #signInSection1Container form div {
  @apply mb-4;
}
#signInSection1 #signInSection1Container form div label {
  @apply block text-gray-700 mb-2;
}
#signInSection1 #signInSection1Container form div input {
  @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-orange-500;
}
#signInSection1 #signInSection1Container form button {
  @apply w-full bg-orange-500 text-white py-2 px-4 rounded transition duration-200;
}
#signInSection1 #signInSection1Container form button:hover {
  @apply bg-orange-600 transition duration-200;
}
#signInSection1 #signInSection1Container p {
  @apply text-center mt-4;
}
#signInSection1 #signInSection1Container p a {
  @apply text-orange-500 transition duration-300;
}
#signInSection1 #signInSection1Container p a:hover {
  @apply text-orange-700 transition duration-300;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#signUpSection1BackHome i {
  @apply absolute ml-5 mt-5 border p-2 rounded-full border-white bg-white transition duration-300;
}
#signUpSection1BackHome i:hover {
  @apply bg-gray-200 border-gray-200 transition duration-300;
}

#signUpSection1 {
  background: linear-gradient(-45deg, rgb(255, 69, 0), rgba(255, 140, 0, 0.8), rgb(255, 165, 0), rgba(249, 115, 22, 0.8));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  @apply min-h-screen flex items-center justify-center bg-gray-100;
}
#signUpSection1 #signUpSection1Container {
  @apply bg-white p-8 rounded-lg shadow-2xl max-w-md w-full;
}
#signUpSection1 #signUpSection1Container h1 {
  @apply text-2xl font-bold text-center mb-6;
}
#signUpSection1 #signUpSection1Container form div {
  @apply mb-4;
}
#signUpSection1 #signUpSection1Container form div label {
  @apply block text-gray-700 mb-2;
}
#signUpSection1 #signUpSection1Container form div input {
  @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-orange-500;
}
#signUpSection1 #signUpSection1Container form button {
  @apply w-full bg-orange-500 text-white py-2 px-4 rounded transition duration-200;
}
#signUpSection1 #signUpSection1Container form button:hover {
  @apply bg-orange-600 transition duration-200;
}
#signUpSection1 #signUpSection1Container p {
  @apply text-center mt-4;
}
#signUpSection1 #signUpSection1Container p a {
  @apply text-orange-500 transition duration-300;
}
#signUpSection1 #signUpSection1Container p a:hover {
  @apply text-orange-700 transition duration-300;
}

.success-message {
  @apply text-green-500 mt-5;
}

.error-message {
  @apply text-red-500 mt-5;
}

#profileSection1 {
  background-color: #FD8824;
  @apply min-h-screen;
}
#profileSection1 #profileSection1Container {
  @apply container p-8 mx-auto;
}
#profileSection1 #profileSection1Container #profileSection1Content {
  @apply p-6 bg-white rounded-lg shadow-xl;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead {
  @apply flex items-center space-x-6;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead img {
  @apply w-32 h-32 border-2 border-gray-300 rounded-full;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead div h1 {
  @apply text-3xl font-bold text-gray-900;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead div button {
  @apply mt-4;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead div button a {
  @apply text-blue-500;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentHead div button a:hover {
  @apply underline;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentBody {
  @apply mt-8;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentBody h2 {
  @apply text-xl font-semibold text-gray-800;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentBody #profileSection1ContentBodyDiv {
  @apply grid grid-cols-1 gap-6 mt-4 md:grid-cols-3;
}
#profileSection1 #profileSection1Container #profileSection1Content #profileSection1ContentBody #profileSection1ContentBodyDiv div h3 {
  @apply text-gray-600;
}

.text-green {
  @apply text-green-500;
}

.text-blue {
  @apply text-blue-500;
}

.text-red {
  @apply text-red-500;
}

#profileEditSection1 {
  background-color: #FD8824;
}
#profileEditSection1 #profileEditSection1Container {
  @apply container p-8 mx-auto min-h-screen;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content {
  @apply p-6 bg-white rounded-lg shadow-xl;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content h1 {
  @apply mb-4 text-3xl font-bold text-gray-900;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content form div {
  @apply mb-4;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content form div label {
  @apply block text-gray-700;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content form div input {
  @apply w-full p-2 border border-gray-300 rounded-md;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content form div div {
  @apply text-red-500;
}
#profileEditSection1 #profileEditSection1Container #profileEditSection1Content form button {
  @apply px-4 py-2 text-white bg-blue-500 rounded-md;
}/*# sourceMappingURL=styles.css.map */