/////////////////////////// Mixin ///////////////////////////

///////////////////////// KeyFrames /////////////////////////

@keyframes slideInLeft
    from
        transform: translateX(-100%)
        opacity: 0
    to
        transform: translateX(0)
        opacity: 1

@keyframes slideInRight
    0%
        transform: translateX(100%)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1

@keyframes slideInTop
    from
        transform: translateY(-100%)
        opacity: 0
    to
        transform: translateY(0)
        opacity: 1

@keyframes gradient
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeInZoom
    0%
        opacity: 0
        transform: scale(0.8)
    100%
        opacity: 1
        transform: scale(1)

@keyframes gradientAnimation
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

@keyframes blink
    0%, 100%
        opacity: 1
    50%
        opacity: 0

///////////////////////// Animation /////////////////////////

.welcomeAnimationHeaderLogo
    animation: slideInLeft 1s ease-in-out

.welcomeAnimationHeaderLink
    animation: slideInTop 1.5s ease-in-out

.welcomeAnimationSectionBackground
  background-size: 200% 200%
  animation: gradient 10s ease infinite

.welcomeAnimationSectionContainerTextSlideLeft
    animation: slideInLeft 1.2s ease-out
    
.welcomeAnimationSectionContainerTextSlideRight
    animation: slideInRight 1.2s ease-out
    
.welcomeAnimationSectionContainerFadeIn
    animation: fadeIn 2s ease-in-out

.welcomeAnimationSectionContainerTextFadeIn
    animation: fadeIn 1.5s ease-out

.welcomeAnimationSectionContainerTextFadeInZoom
    animation: fadeInZoom 1s ease-out

.welcomeAnimationSectionFinal
    animation: gradientAnimation 10s ease infinite

.welcomeAnimationButtonBlink
    animation: blink 0.75s ease-in-out 2

////////////////////////// Welcome //////////////////////////

#welcome
    @apply welcomeAnimationSectionBackground bg-gradient-to-r from-slate-200 via-slate-400 to-slate-600
    #welcomeHeader
        @apply sticky top-0 z-50
        header
            @apply flex items-center justify-between px-8 welcomeAnimationHeaderLink
            nav
                @apply ml-auto
                ul
                    @apply flex p-2 space-x-4 border-2 rounded-b-lg border-slate-500 bg-slate-500
                    li
                        @apply welcomeAnimationHeaderLink
                        #welcomeHeaderButtonSignIn
                            @apply px-4 py-2 transition rounded-lg text-slate-700 bg-slate-200
                        #welcomeHeaderButtonSignIn:hover
                            @apply bg-slate-300
                        #welcomeHeaderButtonSignUp
                            @apply px-4 py-2 transition rounded-lg text-slate-200 bg-slate-600
                        #welcomeHeaderButtonSignUp:hover
                            @apply bg-slate-700

#welcomeSectionHead
    @apply pt-[10%] h-screen welcomeAnimationSectionBackground bg-gradient-to-r from-slate-200 via-gray-400 to-gray-600
    #welcomeSectionHeadContainer
        @apply container flex items-center justify-center px-[10%] mx-auto welcomeAnimationSectionContainerFadeIn
        #welcomeSectionHeadContainerText
            @apply w-1/2 welcomeAnimationSectionContainerTextSlideLeft
            h1
                @apply mb-4 text-5xl font-extrabold text-slate-800 welcomeAnimationSectionContainerTextFadeInZoom
            p
                @apply mb-6 text-2xl text-slate-600 welcomeAnimationSectionContainerTextFadeIn
            a
                @apply px-6 py-3 text-lg font-semibold transition-all duration-300 rounded-full shadow-md text-slate-200 bg-slate-600
            a:hover
                @apply bg-slate-700 scale-105
        #welcomeSectionHeadContainerImg
            @apply flex items-center justify-center w-1/2 welcomeAnimationSectionContainerTextSlideRight
            img
                @apply max-w-full transition-transform duration-500 rounded-lg shadow-lg
            img:hover
                @apply scale-110

.welcomeSectionCard
    @apply h-screen py-16
    #welcomeSectionCardContainer
        @apply container px-8 mx-auto text-center
        h2
            @apply mb-4 text-4xl font-bold text-slate-800
        p
            @apply mb-6 text-xl text-slate-600
        div
            @apply my-[5%]
            img
                @apply w-full h-auto max-w-full mx-auto transition-transform duration-500 rounded-lg shadow-lg
            img:hover
                @apply scale-110
        a
            @apply px-6 py-3 text-lg font-semibold transition-all duration-300 rounded-full shadow-md text-slate-200 bg-slate-600
        a:hover
            @apply bg-slate-700

#welcomeSectionFinal
    background: linear-gradient(-90deg, rgba(32, 35, 42, 0.80), rgba(40, 44, 52, 1), rgba(50, 53, 60, 0.80), rgba(60, 64, 72, 1))
    background-size: 400% 400%
    @apply welcomeAnimationSectionFinal pt-[5%] relative h-screen py-16 text-slate-200
    #welcomeSectionFinalContent
        @apply container relative z-10 px-8 mx-auto text-center
        div
            @apply relative z-20 max-w-2xl p-8 mx-auto shadow-lg bg-slate-200 bg-opacity-10 backdrop-blur-lg rounded-xl
            h2
                @apply mb-6 text-5xl font-extrabold text-slate-800
            p
                @apply max-w-3xl mx-auto mb-8 text-2xl font-light
            a
                @apply px-6 py-3 text-lg font-semibold transition-all duration-300 rounded-full shadow-md text-slate-200 bg-slate-600
            a:hover
                @apply bg-slate-700

///////////////////////// Responsive ////////////////////////

