<div id="welcome">
    <!-- Header -->
    <div id="welcomeHeader">
        <header>
            <nav>
                <ul>
                    <li>
                        <button routerLinkActive="active" id="welcomeHeaderButtonSignIn">
                            <a [routerLink]="['/signIn']">Sign In</a>
                        </button>
                    </li>
                    <li>
                        <button routerLinkActive="active" id="welcomeHeaderButtonSignUp">
                            <a [routerLink]="['/signUp']">Sign Up</a>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    
    <!-- Section 1 : Hero -->
    <section id="welcomeSectionHead">
        <div id="welcomeSectionHeadContainer">
            <div id="welcomeSectionHeadContainerText">
              <h1>
                Welcome to my Blog
              </h1>
              <p>
                A space dedicated to everything about Software Development. Join us to explore tutorials, articles, and much more.
              </p>
              <a [routerLink]="['/signIn']">
                Explore Now
              </a>
            </div>
          
            <div id="welcomeSectionHeadContainerImg">
                <img src="https://via.placeholder.com/500" alt="Placeholder Image">
            </div>
        </div>
    </section>
  
    <!-- Section 2 : Tutorials -->
    <section
        [@fadeIn]="welcomeIsVisible[1] ? 'visible' : 'hidden'"
        class="bg-gray-100 welcomeSectionCard"
    >
        <div id="welcomeSectionCardContainer">
            <h2>Tutorials</h2>
            <p>
                Step-by-step guides to help you master various programming languages and frameworks.
            </p>
        
            <div>
                <img src="https://via.placeholder.com/1000x300" alt="Community Image">
            </div>
        
            <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[1]}">
                Learn More
            </a>
        </div>
    </section>

    <!-- Section 3 : Articles -->
    <section
        [@fadeIn]="welcomeIsVisible[2] ? 'visible' : 'hidden'"
        class="bg-gray-300 welcomeSectionCard"
    >
        <div id="welcomeSectionCardContainer">
            <h2>Articles</h2>
            <p>
                Read insightful articles on the latest trends and best practices in software development.
            </p>
        
            <div>
                <img src="https://via.placeholder.com/1000x300" alt="Community Image">
            </div>
        
            <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[2]}">
                Read More
            </a>
        </div>
    </section>

    <!-- Section 4 : Tech News -->
    <section
        [@fadeIn]="welcomeIsVisible[3] ? 'visible' : 'hidden'"
        class="bg-gray-100 welcomeSectionCard"
    >
        <div id="welcomeSectionCardContainer">
        <h2>Tech News</h2>
        <p>
            Stay updated with the latest news in the tech industry, from frameworks to tools.
        </p>
    
        <div class="my-[5%]">
            <img src="https://via.placeholder.com/1000x300" alt="Community Image">
        </div>
    
        <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[3]}">
            Discover More
        </a>
        </div>
    </section>

    <!-- Section 5 : Community -->
    <section
        [@fadeIn]="welcomeIsVisible[4] ? 'visible' : 'hidden'"
        class="bg-gray-300 welcomeSectionCard"
    >
        <div id="welcomeSectionCardContainer">
        <h2>Community</h2>
        <p>
            Join our developer community to engage in discussions, share projects, and grow together.
        </p>
    
        <div>
            <img src="https://via.placeholder.com/1000x300" alt="Community Image">
        </div>
    
        <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[4]}">
            Join Now
        </a>
        </div>
    </section>
    
    <!-- Section 6 : Projects -->
    <section
        [@fadeIn]="welcomeIsVisible[5] ? 'visible' : 'hidden'"
        class="bg-gray-100 welcomeSectionCard"
    >
        <div id="welcomeSectionCardContainer">
        <h2>Projects</h2>
        <p>
            Explore open-source projects, collaborate with others, and showcase your skills.
        </p>
    
        <div>
            <img src="https://via.placeholder.com/1000x300" alt="Community Image">
        </div>
    
        <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[5]}">
            Explore Projects
        </a>
        </div>
    </section>
    
    <!-- Section 7 : Join Us! -->
    <section
        [@fadeIn]="welcomeIsVisible[6] ? 'visible' : 'hidden'"
        id="welcomeSectionFinal"
    >
        <div id="welcomeSectionFinalContent">
            <div>
                <h2>
                    Join Our Developer Community
                </h2>
                <p>
                Over <span class="font-semibold">x users</span> have already joined us. Don't miss out on the opportunity to improve your skills, network with others, and be part of an active community of developers just like you.
                </p>
        
                <a [routerLink]="['/signIn']" [ngClass]="{'welcomeAnimationButtonBlink': welcomeIsVisible[6]}">
                    Join Us Now!
                </a>
            </div>
        </div>
    </section>
</div>